:root{
    --twitter-blue: rgb(29, 155, 240);
    --border-gray: #dce3e6;
    --font-gray-color: rgb(83, 100, 113);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{ 
    font-family: 'Roboto', sans-serif;
}

.d-none{
    display: none !important;
}
.scroll-disabled{
    overflow-y: hidden !important;
}